@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    user-select: none;
}

input[readonly], textarea[readonly], input:disabled, textarea:disabled {
    pointer-events: none;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #161616;
    overflow-x: hidden;
}

p, a, input {
    color: white;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

input {
    font-weight: 300;
}

@keyframes showup {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
